.page {
  display: flex;
  background-color: var(--color-gray);
  flex-direction: column;
  height: 100%;
  padding: var(--outer-indent-vertical) var(--outer-indent-horizontal);
}

.main {
  flex-grow: 1;
}