.message {
  display: flex;
  align-items: flex-start;
}

.text {
  flex-grow: 1;
  padding: 0.75em 1em;
  font-size: 0.875rem;
  background-color: var(--color-gray-lighter);
  border-radius: var(--border-radius);
}

.avatar {
  flex-shrink: 0;
  margin-right: 1rem;
}

.isMine.message {
  flex-direction: row-reverse;
}

.isMine .avatar {
  flex-direction: row-reverse;
  margin-right: 0;
  margin-left: 1rem;
}

.isMine .text {
  flex-direction: row-reverse;
  margin-right: 0;
  margin-left: 1rem;
  background-color: var(--color-primary-opacitier);
}
