@import "./fonts.css";
@import "./variables.css";
@import "./general.css";

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body,
/* stylelint-disable */
:global(#root) {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-general);
}

a,
button {
  cursor: pointer;
}
