@import './fonts.css';
@import './variables.css';
@import './general.css';

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: var(--font-general);
  margin: 0;
}