.wrapper {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-gray-lighter);
  border-top: thin solid var(--color-gray-darker);
}

.textarea {
  flex-grow: 1;
}

.submit {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.icon {
  vertical-align: middle;
}
