.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 2rem;
}

.header::after {
  position: absolute;
  bottom: 0;
  left: 1rem;
  width: calc(100% - 2rem);
  height: 0;
  border-bottom: thin solid var(--color-gray-darker);
  content: "";
}

.search {
  margin-right: 2rem;
  margin-left: auto;
}

.name {
  margin-left: 2rem;
}
