.wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  --padding: 0.75em 1em;
}

.label {
  left: 0;
  padding: var(--padding);
  pointer-events: none;
}

.input {
  padding: var(--padding);
  border: 0;
  border-radius: var(--border-radius);
}

.input::placeholder {
  font-family: var(--font-general);
}
