.wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  --indent-horizontal: 1em;
}

.errorMessage {
  display: block;
  margin-top: 0.5em;
  color: var(--color-error);
}

.label {
  left: 0;
  padding: 0.75em 0 0.5em;
  pointer-events: none;
}

.input {
  padding: 0.75em var(--indent-horizontal);
  border: thin solid var(--color-white);
  border-radius: var(--border-radius);
}

.input::placeholder {
  font-family: var(--font-general);
}

.input:hover {
  border: thin solid var(--color-primary);
  outline: 0;
}

.input.error {
  border-color: var(--color-error);
}

.input:focus::placeholder {
  color: transparent;
}

.input:focus {
  outline: 0;
}
